.connact {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(../imgs/Frame\ 1.jpg);
}

.connact-container {
   font-size: 30px;  
}

.connact-container p {
    margin-bottom: 30px;
}

@media only screen and (max-width: 945px){
    .connact {
        width: 100%;
        height: 90vh;
    }
}