@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    background-image: url(../imgs/Frame\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.container {
    width: 100%;
}

/* Start header */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #5941a4;
    height: 70px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.logo img {
    width: 140px;
    height: 80px;
    margin-top: 5px;
}

.nav ul li {
    display: inline-block;
    margin-right: 30px;

}

.nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #5941a4;
    font-weight: 700;
    transition: .3s;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
}


.nav ul li a:hover {
    background-color: #ffc94b;
    color: #5941a4;
    transform: scale(1.1, 1.1);
}

.social-media {
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.social-media ul li {
    display: inline-block;
    margin-top: 5px;
    margin-left: 40px;
    font-size: 30px;


}

.social-media ul li a {
    color: #ffc94b;

}

/* End header */

/* ----------------------------------------------------------------*/

/* Start body */

.main-section {
    width: 100%;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.main img {
    width: 200px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

}

.main h4 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: #000;
    opacity: 0.6;
}

.fa-graduation-cap {
    margin-left: 5px;
}

.fa-bolt {
    margin-left: 5px;
}

.fa-house {
    margin-left: 5px;
}

.fa-circle-chevron-down {
    margin-left: 5px;
    color: #000;
}


.fa-magnifying-glass {
    margin-right: 5px;
}

.fa-computer-mouse {
    margin-left: 5px;
}

.fa-circle-question {
    margin-left: 5px;
}

.fa-arrow-up-right-from-square {
    margin-left: 5px;
}

.fa-arrow-pointer {
    margin-right: 15px;
}

.links {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
}

.links ul li {
    margin-top: 30px;
}

.links ul li a {
    font-size: 25px;
    font-weight: 700;
    opacity: 0.7;
    background-color: #270a53;
    color: white;
    transition: .5s;
    padding: 20px 30px;
}


.links ul li a:hover {
    background-color: #705cab;
}

.fa-magnifying-glass {
    margin-right: 10px;
}

.span {
    width: 20px;
    height: 20px;
    background-color: #270a53;
    border: #000 1px solid;
    margin-right: 10px;
}

.site-wrap {
    max-width: 100%;
    margin: 70px auto;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
}


.fixed-nav .site-wrap {
    transform: scale(1);
}

nav {
    background: transparent;
    top: 0;
    width: 100%;
    transition: all 0.9s;
    position: relative;
    z-index: 1;
    /* display: none; */
}


/* End body */


.cards {
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #5941a4; */

}

.title {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.title h2 {
    background-color: #5941a4;
    padding: 20px;
    border: 5px solid #ffc94b;
    color: #ffc94b;
    opacity: 1;
    border-radius: 50px;
}

.title p {
    margin-top: 20px;
    opacity: 0.7;
    text-align: center;
    font-size: 30px;
}

h2 {
    font-size: 40px;
    margin-top: 60px;
    opacity: 0.7;
}

.line {
    width: 100%;
    background-color: #705cab;
    border: 5px solid #705cab;
    margin-bottom: 30px;
    margin-top: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    width: 100%;
    height: 63vh;
}

.card {
    background-color: #fafafa;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    margin-bottom: 60px;
}

.card:hover {
    transform: scale(1.05, 1.05);
}

.icon {
    color: #5941a4;
    font-size: 5em;
    text-align: center;

}

.info h3 {
    text-align: center;
    font-size: 25px;
}

.info p {
    text-align: center;
    color: #705cab;
    font-size: 20px;
}

/*  Start section of studying in Turkey*/
.section-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text h2 {
    margin-right: 40px;
}

.main-text p {
    width: 80%;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 20px;
}

.main-image img {
    margin-top: 30px;
    width: 600px;
}

.main-text ul {
    margin-right: 90px;
    margin-top: 40px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.main-text ul li:nth-child(1) a {
    background-color: green;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    transition: .4s;
}

.main-text ul li:nth-child(1) a:hover {
    background-color: #538353;
}

.main-text ul li:nth-child(2) a {
    background-color: #1c9ed6;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    transition: .4s;
}


.main-text ul li:nth-child(2) a:hover {
    background-color: #71b9d7;
}

.connact-container {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.connact-text p {
    margin-top: 100px;
    font-size: 25px;
    line-height: 90px;
    opacity: 0.7;
}

.connact-text h4 {
    font-size: 25px;
    line-height: 90px;
    opacity: 0.7;
}


h4.number {
    margin: auto;
    width: 400px;
    font-size: 40px;
    border-top: #5941a4 6px solid;
}

/*  End section of studying in Turkey*/


/* Start footer */
footer {
    width: 100%;
    text-align: center;
    background-color: #333333;
    padding-top: 40px;
}

footer p {
    font-size: 18px;
    color: #c7c4c4;
}

footer ul li {
    display: inline-block;
    margin-left: 30px;
    padding: 30px 0;
    font-size: 35px;
}

footer ul li a {
    color: #c7c4c4;
}

/* ŸèEnd footer */


nav {
    background: transparent;
    top: 0;
    width: 100%;
    transition: all 0.9s, background 1ms;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    background-image: url(../imgs/Frame\ 1.jpg);
}

.fixed-nav ul li:nth-child(9) {
    display: none;

}

nav ul {
    width: 80%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
    min-height: 50px;
}

nav ul li {
    margin: 10px auto;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(1 1 1 / 10%);
    transition: .5s ease;
}

nav ul li:hover {
    background: #ffc94b;
}

nav ul li.Logo {
    box-shadow: none;
}

nav ul li.Logo:hover {
    background: none;
    box-shadow: none;
}

li.Logo {
    max-width: 0;
    overflow: hidden;
    background: transparent;
    transition: all 0.5s;
    /* width: 50px; */
    height: 70px;
    padding: 0;
}

.fixed-nav li.Logo {
    max-width: 500px;
}

li.logo a {
    color: black;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: #000;
    transition: all 0.2s;
    font-weight: 700;
    font-size: 18px;

}

@media only screen and (max-width: 945px) {
    body {
        width: 100%;
        background-image: url(../imgs/Frame\ 1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5px 20px;
        background-color: #5941a4;
        height: 200px;
    }

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
    }

    .logo img {
        width: 140px;
        height: 80px;
        /* margin-top: 5px; */
        margin-bottom: 10px;
    }

    .nav ul li {
        display: inline-block;
        margin-right: 10px;

    }

    .social-media {
        margin-top: 30px;
        margin-right: 20px;
    }

    .main img {
        width: 200px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);

    }


    .main h4 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        color: #000;
        opacity: 0.6;
        text-align: center;
    }

    .links {
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
    }

    .links ul li {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
        justify-content: center;
    }

    .links ul li a {

        font-size: 20px;
        font-weight: 700;
        opacity: 0.7;
        background-color: #270a53;
        color: white;
        transition: .5s;
        padding: 10px 20px;
    }

    .section-container {
        width: 100%;
        height: 200vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .main-text {
        width: 100%;
        height: 200vh;
        position: relative;
    }

    .main-text h2 {
        position: absolute;
        bottom: 30%;
        right: 38%;
        transform: translateX(50%);
        font-size: 22px;
    }

    .main-text p {
        width: 80%;
        position: absolute;
        bottom: -32%;
        right: 41%;
        transform: translateX(50%);
        text-align: center;
    }

    .main-image {
        position: relative;
    }

    
.main-image img {
    margin-top: 30px;
    width: 300px;
}


    .main-text ul {
        margin-right: 50px;
        margin-top: 40px;
        width: 350px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 131%;
        left: 50%;
        transform: translateX(-50%);
    }

    footer {
        width: 100%;
        text-align: center;
        background-color: #333333;
        padding-top: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        bottom: 0;

    }

    .connact-container {
        position: relative;
        text-align: center;
        width: 100%;
        height: 100vh;
    }

    .connact-text {
        position: absolute;
        top: 0;
        left: 0;

    }
    .title h2 {
        background-color: #5941a4;
        padding: 20px;
        border: 5px solid #ffc94b;
        color: #ffc94b;
        opacity: 1;
        border-radius: 50px;
        display: none;
    }
    
    .title p {
        margin-top: 20px;
        opacity: 0.7;
        text-align: center;
        font-size: 30px;
        display: none;
    }

    /* Resposive header */

    /* End Resposive header */

    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
    }

    nav {
        background-color: white;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .hamburger .linee {
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 6px 0;
    }

    .link {
        display: none;
    }

    .active-nav {
        background-color: white;
        color: #eeeeee;
    }

    .active-nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .active-nav .link {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .active-nav ul .Logo {
        width: 100%;
        max-width: none;
    }

    nav ul li:nth-child(9) {
        display: none;
    }

    nav ul li:nth-child(8) {
        display: none;
    }

    .active-nav ul li:nth-child(8) {
        display: block;
    }

    nav ul li:nth-child(3) {
        display: none;
    }

    .active-nav ul li:nth-child(3) {
        display: block;
    }


    .dropbtn {
        color: black;
        font-size: 10px;
        font-weight: 700;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }
}

ul .home {
    background-color: transparent;
    box-shadow: none;
}

ul .home:hover {
    background: transparent;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    margin-top: 10px;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #5941a4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 16px;
    transition: .5s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ffc94b
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
    background-color: #ffc94b;
} */

ul.dropdown {
    background-color: transparent;
}
