@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    background-image: url(../imgs/Frame\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* text-align: center; */
}

.container {
    width: 100%;
}

/* Start header */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #5941a4;
    height: 70px;
}


.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.logo img {
    width: 140px;
    height: 80px;
    margin-top: 5px;
}

.nav ul li {
    display: inline-block;
    margin-right: 30px;
    /* margin-top: 15px; */
}

.nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #5941a4;
    font-weight: 700;
    /* letter-spacing: 1px; */
    transition: .3s;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
}


.nav ul li a:hover {
    background-color: #ffc94b;
    color: #5941a4;
    transform: scale(1.1, 1.1);
}

.social-media {
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}

.social-media ul li {
    display: inline-block;
    margin-top: 5px;
    margin-left: 40px;
    font-size: 30px;


}

.social-media ul li a {
    color: #ffc94b;

}

@media(min-width:723px) and (max-width:956px) {


    header {

        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background-color: #5941a4;
        height: 70px;
        padding: 0;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-right: 20px; */
    }

    .nav ul li {
        display: inline-block;
        margin-right: 20px;
        flex-wrap: wrap;
        flex-direction: row;

    }

    .nav ul li a {
        font-size: 14px;
        text-decoration: none;
        color: #5941a4;
        font-weight: 700;
        transition: .3s;
        background-color: #fff;
        padding: 8px 8px;
        border-radius: 5px;
        margin-top: 3px;
        display: block;


    }

    .social-media {
        width: 200px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

    }

    .social-media ul li {
        display: inline-block;
        margin-top: 5px;
        margin-left: 20px;
        font-size: 30px;
    }
}

@media(min-width:546px) and (max-width:723px) {
    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* margin-top: 20px; */
        padding: 5px 5px;
        background-color: #5941a4;
        height: 150px;
    }

    .social-media {
        width: 400px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 0;
    }
}

/*  */
@media(min-width:390px) and (max-width:546px) {
    body {
        width: 100%px;
        background-image: url(../imgs/Frame\ 1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* margin-top: 20px; */
        padding: 5px 5px;
        background-color: #5941a4;
        height: 150px;
    }

    .nav ul li {
        display: block;
        margin-right: 20px;
        flex-wrap: wrap;
        flex-direction: row;

    }

    .nav ul li a {
        font-size: 14px;
        text-decoration: none;
        color: #5941a4;
        font-weight: 700;
        transition: .3s;
        background-color: #fff;
        padding: 8px 8px;
        border-radius: 5px;
        margin-top: 3px;
        display: block;


    }


    .social-media {
        width: 400px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 0;
    }
}

/* End header */

/* ----------------------------------------------------------------*/

/* Start body */

.main-section {
    width: 100%;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.main img {
    width: 200px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

}

.main h4 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: #000;
    opacity: 0.6;
}

.fa-graduation-cap {
    margin-left: 5px;
}

.fa-bolt {
    margin-left: 5px;
}

.fa-house {
    margin-left: 5px;
}

.fa-circle-chevron-down {
    margin-left: 5px;
    color: #000;
}


.fa-magnifying-glass {
    margin-right: 5px;
}

.fa-computer-mouse {
    margin-left: 5px;
}

.fa-circle-question {
    margin-left: 5px;
}

.fa-arrow-up-right-from-square {
    margin-left: 5px;
}

.fa-arrow-pointer {
    margin-right: 15px;
}

.links {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
}

.links ul li {
    margin-top: 30px;
}

.links ul li a {
    font-size: 25px;
    font-weight: 700;
    opacity: 0.7;
    background-color: #270a53;
    color: white;
    transition: .5s;
    padding: 20px 30px;
}


.links ul li a:hover {
    background-color: #705cab;
}

.fa-magnifying-glass {
    margin-right: 10px;
}

.span {
    width: 20px;
    height: 20px;
    background-color: #270a53;
    border: #000 1px solid;
    margin-right: 10px;
}

.site-wrap {
    max-width: 100%;
    margin: 70px auto;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
  }

  .fixed-nav .site-wrap {
    transform: scale(1);
  }
nav {
    background: transparent;
    top: 0;
    width: 100%;
    transition: all 0.9s;
    position: relative;
    z-index: 1;
}

.fixed-nav nav {
    position: fixed;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    height: 100px;
    min-height: 170px;
    background-image: url(../imgs/Frame\ 1.jpg);
    margin: 0;


}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2px auto;
    background-color: transparent;
    padding: 0 10px;
    min-height: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation i {
    margin: 10px;
}

.navigation>li {
    color: aliceblue;
    padding: 15px 10px;
    float: right;
    margin-left: 10px;
    background-color: #fff;
    transition: .5s;
    box-shadow: 0 2px 5px rgba(1 1 1 / 10%);
    border-radius: 5px;
}

.navigation>li:nth-child(1) {
    box-shadow: none;
    padding: 2px;
    margin: 5px;
}

.navigation>li:hover {
    background-color: #ffc94b;
}

.navigation>li:nth-child(1):hover {
    background-color: transparent;
}

.navigation>li:nth-child(10) {
    width: 350px;
    height: 40px;
    background-color: #6e5299;
    color: white;
    transition: .5s;
    border-radius: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation>li:nth-child(10):hover {
    background-color: #270a53;
}

.navigation>li:nth-child(10) a {
    color: #fafafa;
    font-size: 25px;
}


.navigation>li a {
    width: 100%;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navigation .menu {
    position: relative;
}

.navigation .menu .submenu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    background-color: #fafafa;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    display: none;
}

.navigation .submenu li {
    padding: 10px;
    transition: .5s;
}

.navigation .submenu li:hover {
    background-color: #ffc94b;
}





.navigation .submenu li a {
    color: #5b29be;
    text-decoration: none;

}



.navigation .submenu::before {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    height: 0;
    width: 0;
    position: absolute;
    left: 20px;
    top: -6px;
}

.navigation .menu:hover .submenu {
    display: block;
}

li.logo {
    max-width: 0;
    overflow: hidden;
    background: transparent;
    transition: all .5s;
    box-shadow: 0;
    background-color: transparent;

}

li.logo img {
    width: 200px;
    height: 80px;

}

.fixed-nav li.logo {
    max-width: 150px;
}

@media(min-width:797px) and (max-width:930px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
    }

    .main img {
        width: 170px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);

    }

    .main h4 {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        color: #000;
        opacity: 0.6;
    }

    nav {
        background: transparent;
        top: 0;
        width: 100%;
        transition: all 0.9s;
        position: relative;
        z-index: 1;

    }

}

/* End body */


.cards {
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #5941a4; */
}

.title {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.title h2 {
    background-color: #5941a4;
    padding: 20px;
    border: 5px solid #ffc94b;
    color: #ffc94b;
    opacity: 1;
    border-radius: 50px;
}

.title p {
    margin-top: 20px;
    opacity: 0.7;
    text-align: center;
    font-size: 30px;
}

h2 {
    font-size: 40px;
    margin-top: 60px;
    opacity: 0.7;
}

.line {
    width: 100%;
    background-color: #705cab;
    border: 5px solid #705cab;
    margin-bottom: 30px;
    margin-top: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    width: 100%;
    height: 63vh;
}

.card {
    background-color: #fafafa;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    margin-bottom: 60px;
}

.card:hover {
    transform: scale(1.05, 1.05);
}

.icon {
    color: #5941a4;
    font-size: 5em;
    text-align: center;

}

.info h3 {
    text-align: center;
    font-size: 25px;
}

.info p {
    text-align: center;
    color: #705cab;
    font-size: 20px;
}

/*  Start section of studying in Turkey*/
.section-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.main-text h2 {
    margin-right: 40px;
}

.main-text p {
    width: 80%;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 20px;
}

.main-image {
    margin-left: 50px;
    /* margin-bottom: 20px; */
    margin-top: 30px;
    /* display: block; */
}

.main-text ul {
    margin-right: 90px;
    margin-top: 40px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.main-text ul li:nth-child(1) a {
    background-color: green;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    transition: .4s;
}

.main-text ul li:nth-child(1) a:hover {
    background-color: #538353;
}

.main-text ul li:nth-child(2) a {
    background-color: #1c9ed6;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    transition: .4s;
}


.main-text ul li:nth-child(2) a:hover {
    background-color: #71b9d7;
}

.connact-section {
    width: 400px;
    border: 2px solid red;
    margin-top: 30px;
}

label {
    font-size: 30px;
    text-align: center;
}

input {
    font-size: 30px;
    border-radius: 10px;
    width: 100%;
    border: none;
}

.connact-container {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.connact-text p {
    margin-top: 100px;
    font-size: 25px;
    line-height: 90px;
    opacity: 0.7;
}

.connact-text h4 {
    font-size: 25px;
    line-height: 90px;
    opacity: 0.7;
}


h4.number {
    margin: auto;
    width: 400px;
    font-size: 40px;
    border-top: #5941a4 6px solid;
}

/*  End section of studying in Turkey*/


/* Start footer */
footer {
    width: 100%;
    text-align: center;
    background-color: #333333;
    padding-top: 40px;
}
footer p {
    font-size: 18px;
    color: #c7c4c4;
}

footer ul li {
    display: inline-block;
    margin-left: 30px;
    padding: 30px 0;
    font-size: 35px;
}

footer ul li a {
    color: #c7c4c4;
}

/* ŸèEnd footer */
