html {
  direction: rtl;
}

.body {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
html,
body {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.main-text {
  width: 100%;
  height: 250px;
  background-color: #5941a4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-text h1 {
  color: #ffc94b;
  font-size: 60px;
}

.paragraphs {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texts {
  width: 50%;
  margin-right: 50px;
}

.mini-text {
  width: 400px;
  margin-left: 90px;
  background-color: #f4fcfb;
  box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
  padding: 10px;
  border-radius: 10px;

}

.mini-text strong {
  font-size: 25px;
}

.mini-text p {
  width: 100%;
  font-size: 20px;
}

@media only screen and (max-width: 945px) {
  html,
body {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
  .body {
    width: 100%;
    height: 30%;
  }

  .main-text {
    width: 100%;
    height: 180px;
    background-color: #5941a4;
  }

  .main-text h1 {
    font-size: 30px;
    margin-top: 20px;
  }

  .paragraphs {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

  }

  .texts {
    margin-right: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .mini-text {
    width: 400px;
    margin-left: 0;
    padding: 10px;
    margin-top: 10px;
  }
}