* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;

}
body {
    width: 100%;
    height: 2000vh;
    background-image: url(../imgs/Frame\ 1.jpg);
    background-size: cover;
}

html,
    body {
        scroll-behavior: smooth;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    